body {
    margin: 0;
    padding: 0;
    background:#192B39;
    font-family: 'Rubik', sans-serif;
    color: #B2C0C7; 
    width:1440px;
    overflow-x: hidden; 
}

h1 {
    font-family: 'Bahiana', cursive;
    color: #D5F659; 
    font-size: 85px;
    margin-bottom:-10px;
    margin-top:80px;
}

h2 {
    font-family: 'Bahiana', cursive;
    color: #F4FDD5; 
    font-size: 46px;
    margin-bottom:0px;
    margin-top:80px;
}

h3 {
    font-size:17px;
    font-weight:700px;
    color: #F4E2EF;
    text-align:center;
}

p {
    font-size:16px;
    line-height:1.4;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background-image: linear-gradient(to right, #F4FDD5 , #D5F659 , #D5F659 , #D5F659, #D5F659);
    margin: 0;
    height:85px;
}
  
.logo img {
    width:35%;
    margin-top:10px;
}
  
nav ul {
    display: flex;
}
  
nav ul li {
    list-style: none;
    margin-top: 0px;
    transition: all .2s ease-in-out;
}
  
nav li a {
    text-decoration: none;
    padding: 27px;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #192B39;;
}
  
nav li a:hover {
    color: #850956;
}

nav li:hover {
    transform: scale(1.1);
}

.hero {
    height:780px;
    text-align: center;
    background-image:url(images/hero-shirt.jpg);
    background-size:cover;
}

.hero-text {
    width: 540px;
    margin: 0 auto;
    padding:160px;
}

.hero h1 {
    font-size: 114px;
    margin:0;
    line-height:98%;
}

.hero h1 span {
    font-size: 258px;
    color:#C61E87; 
    line-height:90%;
}

.what-the-punk {
    margin-top:30px;
    position:relative;
}

.card {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1.3rem;
    margin-bottom: 2rem;
}

.main-card-image img {
    width:60%;
    margin-left:180px;
    margin-top:50px;
}

.card-text {
    width:570px;
    margin-bottom:30px;
}

.background-texture {
    position:absolute;
    z-index:-5;
}

.background-texture img {
    width:50%;
    margin-left:-200px;
    margin-top:240px;
}

.quote {
    position:absolute;
    z-index:5;
    background-color:#C61E87;
    padding:8px 28px;
    filter: drop-shadow(8px 8px 10px rgba(0,0,0,.4));
}

.what-the-punk .card .quote {
    bottom:0px;
    left:180px;
    transform:rotate(-3.5deg);
}

.birth-of-punk {
    background-image:url(images/punk-trio.jpg);
    height:800px;
    margin-top:100px;
    position:relative;
}

.pin img {
    width:14%; 
    position:absolute;
    right:0px;
    top:-85px;
    filter: drop-shadow(8px 8px 12px rgba(0,0,0,.6));
}

.text-over-image {
    width:600px;
    background: rgba(25,43,57,.8);
    padding:40px;
    position:absolute;
    bottom:50px;
}

.text-over-image p {
    color:#F4FDD5;
    margin-left:50px;
}

.text-over-image h1 {
    margin-top:12px;
    margin-left:50px;
}

.foundations-of-punk {
    position:relative;
}

.left-card {
    margin-left:90px;
    margin-top:40px;
}

.right-image img {
    width:100%;
    margin-top:80px;
}

.left-image {
    margin-left:90px;
}

.foundations-of-punk .quote {
    position:absolute;
    right:230px;
    bottom:0;
    padding:6px 32px;
    transform:rotate(-3.5deg);
}

.why-punk-popular {
    position:relative;
}

.left-image img {
    width:60%;
    margin-left:110px;
    margin-top:30px;
}

.overlapping-image img {
    position:absolute;
    width:40%;
    left:100px;
    margin-top:40px;
}

.yellow-pin {
    position:absolute;
    bottom:100px;
    left:10px;
}

.antifa-pin {
    position:absolute;
    bottom:-130px;
    left:30px;
}

.antifa-pin img {
    width:90%;
}

.why-punk-popular .background-texture img {
    margin-left:-400px;
    margin-top:80px;
}

.why-punk-popular h1 {
    margin-top:0px;
}

.fast-facts {
    height:900px;
    background-image:url(images/slate-bg.jpg);
    margin-top:80px;
    display:flex;
    justify-content:center;
}

.flip-card {
    height:500px;
    width:330px;
    background-color:#34556F;
    margin:55px;
    margin-top:210px;
    text-align:center;
    position:relative;
    overflow:hidden;
    transform:scale;
    transition-duration:.4s;
    filter:drop-shadow(8px 8px 12px rgba(0,0,0,.3));
}

.flip-card-img img {
    width:100%;
}

.flip-card h2 {
    margin-top:35px;
}

.text {
    position:absolute;
    top:2%;
    text-align:center;
    width:100%;
    height:40px;
    transition:translate(-50%, -50%);
}

.overlay {
    position:absolute;
    transition: all .3s ease;
    opacity:0;
    background: rgba(25,43,57,.85);
}

.flip-card:hover .overlay {
    opacity:1;
}

.overlay-top {
    height:0;
    width:100%;
    top:0;
    right:0;
}

.flip-card:hover {
    transform:scale(105%);
}

.flip-card:hover .overlay-top {
    height:100%;
}

.flip-card p {
    color:#F4FDD5;
    margin:30px;
    text-align:left;
}

.card-text li {
    line-height:1.6;
}

.anarchy {
    position:relative;
}

.anarchy .left-image {
    margin-bottom:-59px;
}

.anarchy .left-image img {
    width:105%;
    margin-left:-90px;
    margin-top:-15px;
}

.anarchy .background-texture img {
    margin-left:5px;
    margin-top:400px;
}

.card-blue {
    background:#34556F;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1.3rem;
    margin-bottom: 2rem;
    height:500px;
    position:relative;
    z-index:0;
}

.glam {
    position:relative;
}

.glam .right-image img {
    width:32%;
    position:absolute;
    right:120px;
    bottom:23px;
}

.glam-pin {
    position:absolute;
    bottom:13px;
    right:230px;
}

.glam-pin img {
    width:50%;
}

.garage .left-image {
    margin-left:0px;
    margin-top:-60px;
    margin-bottom:-100px;
}

.garage .left-image img {
    width:73%;
}

.horror {
    position:relative;
}

.horror .right-image img {
    width:55%;
    margin-left:100px;
    margin-top:25px;
}

.horror .card-blue .light-texture {
   position:absolute;
   z-index:-1;
   top:-843px;
   left:100px;
   margin-top:0;
}

.light-texture img {
    scale:22%;
}

.street {
    position:relative;
}

.street .background-texture img {
    margin:0;
    width:45%;
}

.button-card {
    display:grid;
    grid-template-columns: 1.2fr 1.6fr;
    gap:50px;
    margin-bottom: 2m;
    margin-left:40px;
}

.links-and-resources p {
    margin-top:110px;
}

.links-and-resources h1 {
    margin-top:60px;
    margin-left:50px;
}

.cta-button {
    padding: 10px 25px;
    border-radius: 25px;
    border: solid 2px #F4E2EF;
    background: none;
    color: #F4E2EF;
    font-size: 16px;
    font-weight: 700;
    margin-top: 34px;
    margin-right:20px;
    cursor:pointer;
    transition: all .2s ease-in-out;
}

.cta-button:hover {
    border: solid 2px #192B39;
    background: #93BFE1;
    color: #192B39;
    transform: scale(1.15);
}

.carousel-intro-text h1 {
    text-align:center;
    margin-top:125px;
    margin-bottom:20px;
}



.carousel-cell {
    width: 1440px;
    height: 800px;
    position:relative;
}

.carousel-cell img {
    width:100%;
    height:100%;
    object-fit:cover;
}



.flickity-button {
    background: rgba(25, 43, 57, .4);
    border: solid 2px #F4E2EF;
    transition: all .2s ease-in-out;
}

.flickity-button:hover {
    background: rgba(25, 43, 57, 1);
    width: 70px;
    height: 70px;
}

.flickity-button-icon {
    fill: #F4E2EF;
}

.flickity-prev-next-button {
    border-radius: 0px;
    width: 60px;
    height: 60px;
}


.flickity-prev-next-button.previous {
    left: 50px;
}

.flickity-prev-next-button.next {
    right: 50px;
}

.flickity-page-dots .dot {
    width: 10px;
    height: 10px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
    background: white;
}

.flickity-page-dots {
    bottom: 12px;
}
  


.inner {
    top: 70%;
    background: rgba(25, 43, 57, .8);
    height: 115px;
    width: 680px;
    position:absolute;
}
  
.inner p {
    padding: 18px;
    color:#F4FDD5;
    margin-left:50px;
}

.footer {
    background-image: linear-gradient(to right, #F4FDD5 , #D5F659 , #D5F659 , #D5F659, #D5F659);
}

.footer p {
    color:#192B39;
}

.footer-card {
    display:grid;
    grid-template-columns: 6fr 1fr 1fr;
    gap:1.8rem;
    margin-bottom: 2rem;
    margin-left:90px;
    margin-right:130px;
    padding-top:40px;
}

.footer-nav ul {
    display: flex;
}

.footer-nav ul li {
    list-style: none;
    margin-top: -5px;
    transition: all .2s ease-in-out;
}
  
.footer-nav li a {
    text-decoration: none;
    padding: 27px;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height:2;
    color: #192B39;;
}
  
.footer-nav li a:hover {
    color: #850956;
}

.footer-nav li:hover {
    transform: scale(1.1);
}

.footer-branding img {
    width:35%;
    margin-bottom:-20px;
    margin-top:15px;
}

.bottom-information {
    padding-bottom:30px;
    text-align:center;
}